<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389826315333-fco6k4ngs47jbvavldhrn6cal8i8t278.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389826315333-fco6k4ngs47jbvavldhrn6cal8i8t278</string>
	<key>API_KEY</key>
	<string>AIzaSyBxwsXzarDXnTXts6lrixAV636Y7xfexwM</string>
	<key>GCM_SENDER_ID</key>
	<string>389826315333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chanul.nextNetflix</string>
	<key>PROJECT_ID</key>
	<string>nextnetflix-14cad</string>
	<key>STORAGE_BUCKET</key>
	<string>nextnetflix-14cad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389826315333:ios:06b90f9579278cb11d4f2c</string>
</dict>
</plist>